<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show information</title>
</head>
<body>
     <h3>listing details :</h3>
     <ul>
        <li> <%= listinginfo.title %></li>
        <li> <%= listinginfo.description %></li>
        <li>  &#8377;<%= listinginfo.price.toLocaleString("en-IN") %></li>
        <li> <%= listinginfo.location %></li>
        <li> <%= listinginfo.country %></li>
     </ul>
     <br>
     <a href="/listings/<%= listinginfo._id %>/edit">edit this listing</a>
</body>
</html>